<div class="row">
    <!-- barra lateral -->
    <div class="col-1">
        <div class="row">
            <fa-icon [icon]="['fas', 'bars']" ></fa-icon>
        </div>
        <div class="row">
            <fa-icon [icon]="['fas', 'envelope']" ></fa-icon>
        </div>
        <div class="row">
            <fa-icon [icon]="['fas', 'message']" ></fa-icon>
        </div>
        <div class="row">
            <fa-icon [icon]="['fas', 'video']" ></fa-icon>
        </div>
    </div>
    <!-- principal -->
    <div class="col-9">
        <div class="row justify-content-between">
            <div class="col-2">
                <img src="../../../assets/logos/gmail.png" alt="" style="max-width: 15%;">
                Gmail
            </div>
            <div class="col-5">
                <fa-icon [icon]="['fas', 'magnifying-glass']" ></fa-icon>
                <input type="text" style="width: 85%;">
            </div>
            <div class="col-4 d-flex justify-content-between">
                <fa-icon [icon]="['fas', 'circle']" ></fa-icon>
                <fa-icon [icon]="['fas', 'chevron-down']" ></fa-icon>
                <fa-icon [icon]="['fas', 'circle-question']" ></fa-icon>
                <fa-icon [icon]="['fas', 'gear']" ></fa-icon>
                <fa-icon [icon]="['fas', 'list']" ></fa-icon>
                <img src="../../../assets/logos/coppel.png" alt="" style="max-width: 15%;">
                <img src="../../../assets/fotos/ulises.jpg" alt="" style="max-width: 10%;
                border-radius: 90%;">
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-2 d-flex justify-content-between" >
                <fa-icon [icon]="['fas', 'square']" ></fa-icon>
                <fa-icon [icon]="['fas', 'chevron-down']" ></fa-icon>
                <fa-icon [icon]="['fas', 'arrow-rotate-right']" ></fa-icon>
                <fa-icon [icon]="['fas', 'ellipsis-vertical']" ></fa-icon>
            </div>
            <div class="col-3 d-flex justify-content-between">
                1-50 de 1.734
                <fa-icon [icon]="['fas', 'chevron-left']" ></fa-icon>
                <fa-icon [icon]="['fas', 'chevron-right']" ></fa-icon>
                <fa-icon [icon]="['fas', 'table-list']" ></fa-icon>
                <fa-icon [icon]="['fas', 'chevron-down']" ></fa-icon>
            </div>
        </div>
        <div class="row justify-content-star">
            <div class="col-3">
                <fa-icon [icon]="['fas', 'inbox']" ></fa-icon>principal
            </div>
            <div class="col-3">
                <fa-icon [icon]="['fas', 'tag']" ></fa-icon> promociones
            </div>
            <div class="col-3">
                <fa-icon [icon]="['fas', 'user-group']" ></fa-icon> social
            </div>
        </div>
        <!-- correos -->
        <div class="row">
            <div class="col-1 d-flex justify-content-between">
                <fa-icon [icon]="['fas', 'square']" ></fa-icon>
                <fa-icon [icon]="['fas', 'star']" ></fa-icon>
                <fa-icon [icon]="['fas', 'bookmark']" ></fa-icon>
            </div>
            <div class="col-2">
                nombre
            </div>
            <div class="col-8">
                <div class="row">
                    asunto
                </div>
                <div class="row">
                    archivo
                </div>
            </div>
            <div class="col-1">
                12:06
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                acciones
            </div>
            <div class="col-2">
                nombre
            </div>
            <div class="col-8">
                <div class="row">
                    asunto
                </div>
                <div class="row">
                    archivo
                </div>
            </div>
            <div class="col-1">
                fecha
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                acciones
            </div>
            <div class="col-2">
                nombre
            </div>
            <div class="col-8">
                <div class="row">
                    asunto
                </div>
                <div class="row">
                    archivo
                </div>
            </div>
            <div class="col-1">
                fecha
            </div>
        </div>
    </div>
    <!-- calendario -->
    <div class="col-2">
        <div class="row">
            <div class="col-6 d-flex justify-content-start">
                <p style="font-size: 40%; color: grey;">CALENDAR</p>

            </div>
            <div class="col-6" >
                <fa-icon [icon]="['fas', 'up-right-from-square']" ></fa-icon>
                <fa-icon [icon]="['fas', 'xmark']" ></fa-icon>

            </div>
        </div>
    </div>
</div>
<div style="background-color: red;">a</div>
